<h2><%= @professor.name %></h2>
<% @professor.courses.each do |course| %>
  <h3><%= course.name %></h3>
<% end %>

<%= link_to "Back", professors_path %>
<%= link_to "Edit", edit_professor_path(@professor) %>
<%= link_to "Delete", professor_path(@professor), method: :delete, data: { confirm: "Would you like to remove this professor? " } %>