<h2><%= @professor.name %></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Courses</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% @professor.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
          <%
            ratings = Review.where(:course_id => course.id, :professor_id => @professor.id).pluck(:rating)
            average = ratings.inject { |sum, el| sum + el }.to_f / ratings.size
            average = average.nan? ? 'No reviews' : average
          %>
          <a href="/reviews/explore/course/<%= course.id %>/professor/<%= @professor.id %>"><%= average %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back", professors_path %>
<% if user_signed_in? %>
  <%= link_to "Edit", edit_professor_path(@professor) %>
  <%= link_to "Delete", professor_path(@professor), method: :delete, data: { confirm: "Would you like to remove this professor? " } %>
<% end %>