<%= simple_form_for @course do |f| %>
  <%= f.input :name, label: "Course Title" %>
  <% if params[:action] == "edit" %>
    <label>Professors</label>
    <br>
    <%= f.collection_check_boxes :professor_ids, Professor.all, :id, :name do |p| %>
      <%= p.label {p.check_box + p.text} %>
      <br>
    <% end %>
    <br>
  <% end %>
  <%= f.button :submit %>
<% end %>