<h2><%= @course.name %></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Professors</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% @course.professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td>
          <%
            ratings = Review.where(:course_id => @course.id, :professor_id => professor.id).pluck(:rating)
            average = ratings.inject { |sum, el| sum + el }.to_f / ratings.size
            average = average.nan? ? 'No reviews' : average
          %>
          <a href="/reviews/explore/course/<%= @course.id %>/professor/<%= professor.id %>"><%= average %></a>
        </td>
        <td><%= link_to "Add Review", new_review_path(course_id: @course.id, professor_id: professor.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", root_path %>
<% if user_signed_in? %>
  <%= link_to "Edit", edit_course_path(@course) %>
  <%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: "Would you like to remove this course? " } %>
<% end %>