<h2><%= @course.name %></h2>
<% @course.professors.each do |professor| %>
  <h3><%= professor.name %></h3>
<% end %>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_course_path(@course) %>
<%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: "Would you like to delete this course? " } %>